# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DistributedSystemNotes\mastering_go\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
