Language: Cpp
NamespaceIndentation:    Inner
AlignConsecutiveAssignments:    true
AlignConsecutiveDeclarations:    true
AlignTrailingComments:    true
# 需要被解读为foreach循环而不是函数调用的宏
ForEachMacros:    [ foreach, Q_FOREACH, BOOST_FOREACH ]
# 对#include进行排序，匹配了某正则表达式的#include拥有对应的优先级，匹配不到的则默认优先级为INT_MAX(优先级越小排序越靠前)，
#   可以定义负数优先级从而保证某些#include永远在最前面
IncludeCategories:
  - Regex:    '^"(llvm|llvm-c|clang|clang-c)/'
    Priority:    2
  - Regex:    '^(<|"(gtest|isl|json)/)'
    Priority:    3
  - Regex:    '.*'
    Priority:    1
# 缩进case标签
IndentCaseLabels:    false
# 缩进宽度
IndentWidth:    4
# 总是在template声明后换行
AlwaysBreakTemplateDeclarations:    true
# 每行字符的限制，0表示没有限制
ColumnLimit:	70
# 描述具有特殊意义的注释的正则表达式，它不应该被分割为多行或以其它方式改变
CommentPragmas:	'^ IWYU pragma:'